@font-face {
  font-family: Major;
  src: url("../utils/MajorMonoDisplay-Regular.ttf");
}
.card {
  margin: 1rem 2rem;
  padding: 0 1rem;
  font-family: Roboto;
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  background: #051117;
  border: 2px solid #e9e9e9;
  border-radius: 5px;
}
.details {
  width: 100%;
  justify-self: center;
  padding-left: 0.5rem;
}
.model {
  font-family: Major;
  font-size: 2.5rem;
}
.class {
  font-family: Aur;
}
label {
  color: #86bee1;
}
p {
  font-size: 1.25rem;
  color: #b4cddd;
  align-self: flex-end;
}
.specs {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  flex-wrap: wrap;
}
.specs p {
  font-family: "AUR";
}
.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
button {
  height: 4rem;
  width: 45%;
  background: rgba(133, 189, 224, 0.4);
  color: #e9e9e9;
  border: 2px solid #85bde0;
  border-radius: 5px;
  font-size: 1.25rem;
  font-family: AUR;
  cursor: pointer;
}
button:first-of-type {
  margin-right: 1rem;
}
button:last-of-type {
  margin-left: 1rem;
}
.specs-button {
  display: none;
}

@media screen and (max-width: 800px) {
  .card {
    margin: 0.5rem 1rem;
    padding: 0 0.75rem;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
  }
  .button-container {
    display: flex;
    justify-content: space-around;
    margin: 0 1rem 1rem 1rem;
  }
  .specs {
    display: none;
  }
  .model {
    font-size: 1.75rem;
  }
  /* .specs-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 10rem;
    background: rgba(42, 60, 71, 0.4);
    color: #e9e9e9;
    border: 2px solid #85bde0;
    border-radius: 3px;
    font-size: 0.75rem;
    font-family: AUR;
    margin-bottom: 1rem;
  } */
}
